<br />
<br />

<h2>Delete</h2>

<h4>Are you sure you want to delete this?</h4>

<br />

<div class="row">

    <div class="col-md-6" *ngIf="book$ | async; let book">
        <h4>Book</h4>
        <hr />
        <dl>
            <dt>Title</dt>
            <dd>{{ book.title }}</dd>
        </dl>
        <dl>
            <dt>Author</dt>
            <dd>{{ book.author }}</dd>
        </dl>

        <br />

        <div class="form-group">
            <button class="btn btn-primary" (click)="delete(book)">Delete</button> |
            <a routerLink="/book">Back</a>
        </div>

    </div>

</div>