<br />
<br />

<h2>Edit</h2>

<br />

<form class="col-md-6" *ngIf="book$ | async; let book">
    <div class="form-group">
        <label for="titleInput">Title</label>
        <input type="text" class="form-control" id="titleInput" #titleInput placeholder="Title" value="{{ book.title }}">
    </div>
    <div class="form-group">
        <label for="authorInput">Author</label>
        <input type="text" class="form-control" id="authorInput" #authorInput placeholder="Author" value="{{ book.author }}">
    </div>
    <br />
    <button type="button" class="btn btn-primary" (click)="update({id:book.id, title: titleInput.value, author: authorInput.value })">Save</button>
</form>

<br />

<p>
    <a routerLink="/book">Back</a>
</p>