<br />
<br />

<h2>Index</h2>

<br />

<p>
    <a routerLink="/book/create" routerLinkActive="active">New</a>
</p>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books$ | async">
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
                <a [routerLink]="['/book/edit', book.id]">Edit</a> |
                <a [routerLink]="['/book/detail', book.id]">Detail</a> |
                <a [routerLink]="['/book/delete', book.id]">Delete</a>
            </td>
        </tr>
    </tbody>
</table>